<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biz.user">

    <application >
        <activity
            android:name=".ui.BuyResultActivity"
            android:exported="false"
            android:theme="@style/Theme.lib.user"/>
        <activity
            android:name=".ui.BuyConfirmActivity"
            android:exported="true"
            android:theme="@style/Theme.lib.user"
             />
    </application>

</manifest>